<h1><%= t('.sign_up') %></h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= bootstrap_devise_error_messages! %>

  <div class="mb-3">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control', required: true %>
  </div>

  <div class="mb-3">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control', required: true %>

    <% if @minimum_password_length %>
      <small class="form-text text-muted"><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></small>
    <% end %>
  </div>

  <div class="mb-3">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: 'current-password', class: 'form-control', required: true, minlength: @minimum_password_length, maxlength: '30' %>
  </div>

  <p><%= link_to '利用規約', terms_of_service_path, target: :_blank %>・<%= link_to 'プライバシーポリシー', privacy_policy_path, target: :_blank %>に同意の上、ご利用ください。</p>

  <div class="mb-3">
    <div class="d-grid gap-2">
      <%= f.submit t('.sign_up'), class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<%= render 'devise/shared/links' %>
